colorama
flask
django
pandas
telebot
art
requests
numpy
matplotlib
selenium
pillow
ploty
dash
pytorch
scikit-learn
keras
beautifulsoup4
jupyter
pyspark
celery
gunicorn
pytest
random
tornado
spacy
sympy
SQLAlchemy